@model List<InvoiceDetail>
@{
    ViewData["Title"] = "Getall";
}

<h1>Getall</h1>
<table class="table table-success table-striped">
     <tr>
            <td>LineNo</td>
            <td>UnitNo</td>
            <td>ProductName</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total</td>
            <td>ExpiryDate</td>
            <td>
               
            </td>
        </tr>
    @foreach(var item in Model){
        <tr>
            <td>@item.LineNo</td>
            <td>@item.UnitNo</td>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
            <td>@item.Total</td>
            <td>@item.ExpiryDate</td>
            <td>
                <a href="/Invoice/New/@item.LineNo">Details</a>
            </td>
        </tr>
    }    
</table>

